{% extends "layout/layout.html" %}
{% block body %}
    <div class="redes-logo"><center><img src="{{ url_for('static', filename='images/social.jpg') }}" /></center></div>
    <form action="{{ url_for('login') }}" method="post">
        {{ form.csrf_token }}
        <dl>
            <dd>{{ form.username.label }} {{ form.username(size=20, class_="ghost-input") }} {{ render_error(form.username) }}</dd>
            <dd>{{ form.password.label }} {{ form.password(size=20, class_="ghost-input") }} {{ render_error(form.password) }}</dd>
            <dd><input type="submit" value="Login" class="ghost-button" /></dd>
            <dd>
                {% for category, message in get_flashed_messages(with_categories=true) %}
                    <div class="flash-{{ category }}">{{ message }}</div>
                {% endfor %}
            </dd>
        </dl>
    </form>
{% endblock %}