{% extends "layout/internal.html" %}
{% block body %}
    <!-- Page Header -->
    <div class="page-header position-relative">
        <div class="header-title">
            <h1>
                https://{{slack.workspace}}.slack.com
            </h1>
        </div>
    </div>
    <!-- /Page Header -->
    <!-- Page Body -->
    <div class="page-body">



        <div class="row">

                

            <div class="col-xs-12 col-md-12">
                    <div class="alert alert-{{message_type}} fade in {{message_css}}">
                            <button class="close" data-dismiss="alert">
                                ×
                            </button>
                            <i class="fa-fw fa fa-check"></i>
                            {{message_text}}
                    </div>


                    <div class="widget">
                        <div class="widget-header ">
                            <span class="widget-caption">&Uacute;ltimos Mensajes</span>
                          
                          
                        </div>
                        <div class="widget-body">

                                
                            
                            <table class="table table-striped table-bordered table-hover" id="editabledatatable">
                                <thead>
                                    <tr>
                                    
                                        <th>
                                            Foto
                                        </th>
                             
                                        <th>
                                            De
                                        </th>
                                      
                                        <th>
                                            Para
                                        </th>
                                        <th>
                                            Mensaje
                                        </th>
                                        <th>
                                            Acci&oacute;n
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>

                                    {% for network in networks %}
                                        <tr>
                                              
                                                <td>
                                                    <img src="{{ network.friend_sender_id.image_url }}" />
                                                </td>
                                            
                                                <td>
                                                    {{ network.friend_sender_id.name }}
                                                </td>
                                     
                                           
                                                <td class="center ">
                                                  {{slack.friend_id.name}}
                                                </td>
                                               

                                                <td>
                                                    {{ network.text }}
                                                </td>

                                                
                                     
                                                <td>
                                                    {% if slack.friend_id != network.friend_sender_id %}
                                                        <a href="/slack/{{network.network_id}}/friend/message/{{ network.friend_sender_id}}" class="btn btn-info btn-xs"><i class="fa fa-envelope-o"></i> Responder &nbsp;&nbsp;</a>
                                                    {% endif %}
                                                </td>
                                        </tr>
                                    {% endfor %}

                                    

                                    
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <!--Basic Scripts-->
            <script src="{{ url_for('static', filename='assets/js/jquery.min.js')}}"></script>
            <script src="{{ url_for('static', filename='assets/js/bootstrap.min.js')}}"></script>
            <script src="{{ url_for('static', filename='assets/js/slimscroll/jquery.slimscroll.min.js')}}"></script>

            <!--Beyond Scripts-->
            <script src="{{ url_for('static', filename='assets/js/beyond.min.js')}}"></script>
            <!--Page Related Scripts-->
            <script src="{{ url_for('static', filename='assets/js/datatable/jquery.dataTables.js')}}"></script>
            <script src="{{ url_for('static', filename='assets/js/datatable/ZeroClipboard.js')}}"></script>
            <script src="{{ url_for('static', filename='assets/js/datatable/dataTables.tableTools.min.js')}}"></script>
            <script src="{{ url_for('static', filename='assets/js/datatable/dataTables.bootstrap.min.js')}}"></script>
            <script src="{{ url_for('static', filename='assets/js/datatable/datatables-init.js')}}"></script>
            <script>
                InitiateEditableDataTable.init("<a href='/slack'>Volver</a>");
            </script>


            
    </div>
    <!-- /Page Body -->
{% endblock %}